/* andreas01 - an open source xhtml/css website layout by Andreas Viklund  - http://andreasviklund.com . Free to use for any purpose as long as the proper credits are given to the original author.

Version: 1.3 (Nov 28, 2005)

Screen layout: */

body{
margin:0 auto;
padding:0;
font:76% Verdana,Tahoma,Arial,sans-serif;
background:#f4f4f4 url('bg.gif') top center repeat-y;
color:#303030;
}

#wrap{
background:#ffffff;
color:#303030;
margin:0 auto;
width:760px;
}

#header{
clear:both;
margin:20px 0 0 0;
padding:0;
height:45px;
}

#header h1{
width:250px;
margin:0 0 10px 0;
float:left;
}

#header p{
width:500px;
float:right;
text-align:center;
color:#a0a0a0;
margin:0 0 10px 0;
font-size:0.8em;
line-height:1.2em;
background-color:inherit;
}

#frontphoto{
margin:0 0 10px 0;
border:0;
}

/*#avmenu*/
#sidebar_left {
clear:left;
float:left;
width:150px;
margin:0 0 10px 0;
padding:0;
font-size:0.9em;
}

#avmenu ul{	
list-style:none;
width:150px;
margin:0 0 20px 0;
padding:0;
font-size:1.1em;
}	

#avmenu li{
margin-bottom:4px;
}

#avmenu li a{
font-weight:bold;
height:20px;
text-decoration:none;
color:#505050;
display:block;
padding:6px 0 0 10px;
background:#f4f4f4;
border-left:4px solid #cccccc;
}	
	
#avmenu li a:hover{
background:#eaeaea;
color:#286ea0;
border-left:4px solid #286ea0;
}

.region-left.block {
margin:10px 0 10px 0;
padding:10px;
width:130px;
color:#505050;
background-color:#f4f4f4;
line-height:1.3em;
}

/*#extras*/
#sidebar_right {
float:right;
width:120px;
margin:0 0 10px 0;
padding:0;
font-size:0.9em;
line-height:1.5em;
}

#sidebar_right p {
margin:0 0 1.5em 0;
}

#content{
margin:0 130px 20px 160px;
border-left:1px solid #f0f0f0;
border-right:1px solid #f0f0f0;
padding:0 10px 0 10px;
line-height:1.6em;
text-align:left;
}

#content h2{
font-size:1.5em;
margin:0 0 0.5em 0;
}

#content img{
padding:1px;
display:inline;
background:#cccccc;
color:#303030;
border:4px solid #f0f0f0;
}

h3{
font-size:1.3em;
margin:10px 0 0 0;
}

a{
text-decoration:none;
color:#286ea0;
}

a:hover{
text-decoration:underline;
color:#286ea0;
}

a img{
border:0;
}

#footer{
clear:both;
margin:0 auto;
padding:10px 0 20px 0;
border-top:4px solid #f0f0f0;
width:760px;
text-align:center;
color:#808080;
font-size:0.9em;
}

#footer a{
color:#808080;
text-decoration:none;
}

#footer a:hover{
text-decoration:underline;
}

.left{
margin:10px 10px 5px 0;
float:left;
}

.right{
margin:10px 0 5px 10px;
float:right;
}

.textright{
text-align:right;
}

.center{
text-align:center;
}

.small{
font-size:0.8em;
}

.bold{
font-weight:bold;
}

.hide{
display:none;
}

.submitted {
  font-size: 0.9em;
}

.node-teaser {
  margin: 0 0 10px 0;
}

.node-teaser h3, .node-teaser p {
  font-size: 1.0em;
  display: inline;
}

.node-teaser h3 a,
.node-teaser h3 a:hover {
  color: black;
  text-decoration: none;
}



.image.node-teaser p {
  display: block;
}

br.clear {
  clear: none;
}

.images h3 {
  font-size:1.0em;
}

.profile {
  clear: none;
}

#content .service_links img {
  border: none;
}

.comment {
  border-top: 1px solid #f0f0f0;
  border-left: 4px solid #cccccc;
  margin-top: 4px;
  padding: 8px;
}

.node-form .standard, .node {
  clear: none;
}

.new {
  color: red;
}

.node.story li {
  list-style-type: none;
}

